- provide(:title, 'Затраченное время')
= render 'projects/project_menu'
%h1 Затраченное время
.row
  .span6.offset3.container-three
    = form_for([@project, @task, @time_table]) do |f|
      = render 'shared/error_messages', object: f.object
      = f.label :count, "Затраченное время"
      = f.text_field :count
      = f.label :work_day, "Дата"
      = f.date_select :work_day
      = f.label :comment, "Комментарий"
      = f.text_field :comment
      = f.submit "Сохранить", class: "btn btn-large btn-primary"