- provide(:title, 'Изменение задачи')
= render 'projects/project_menu'
%h1 Изменение задачи
.row
  .span6.offset3.container-three
    = form_for([@project, @task]) do |f|
      = render 'shared/error_messages', object: f.object
      = f.label :name, "Название задачи"
      = f.text_field :name
      = f.label :info, "Информация о задаче"
      = f.text_field :info
      = f.label :complete, "Процент выполнения"
      = f.text_field :complete
      = f.submit "Изменить текущую задачу", class: "btn btn-large btn-primary"